<div class="container">
    <div class="row">
        <div class="cols=md-12">
            <ul>
                <li>
                    <h2>What we Do</h2>
                    STARweb will stive to provide personal service to its clients, making sure that their needs are being met at every state of the process.
                </li>
                <li>
                    <h2>Mission</h2>
                    STARweb provides inexpensive, high quality services for any kind of company and organization with limited resources who are looking for fast, dependable and easy-to-adapt website development. We stive to achive superior customer satisfaction.
                </li>
                <li>
                    <h2>Vision</h2>
                    We hope that in the future, STARweb will evolve to become the leading provider fo website development for Non-Profit Organizations.
                </li>
                <li>
                    <h2>Who we are</h2>
                    STARweb was born as joint Capstone Project for the Master of Science in Management of Technology (MSMOT) and the Master of Science in Software Engineering
                    programs at Fairfield University in Fairfield, Connecticut.<br><br>
                    
                    Our Team is composed of three students from tht MSMOT program: Minu Gupta, Sharath Reddy and Marcia Arambulo Rodriquez; and two studnets fromt he MSSE
                    programs: Nikesh Badam and Srenika Bachu.
                </li>
                <li>
                    <h2>Accomplishments</h2>
                    STARweb is the proud developer of <a href="http://www.juhanonline.org" target="_blank">www.juhanonline.org</a> the Jesuit Universities Humanitarian Action Network website.
                    <br>
                    <br>
                    The Jesuit Universities Humanitarian Action Network (JUHAN) was launched in 2008 through a joint collaboration between Georgetown, Fordham and Fairfield Universities on the
                    premise that in addressing the needs of those that are suffering, academic institutions can ve ore effective when working together rather than independently.
                </li>
            </ul>
            
        </div>
    </div>
</div>