<div class="row">
    <div>
        <h2>Services we offer:</h2>
        <p>
            At STARweb, we believe in providing high quality website development functionalities to our customers. We are extensively involved in delivering a fully functional website through personalized services during the software development life cycle. Our STARweb team comprises of experienced business analysts, developers and marketing experts who work collaboratively with our customers to understand their unique needs. Not only do we provide a fully functional website but we also provide training to our customers so that they can easily maintain their websites without incurring additional costs.
        </p>
    </div>
    <br>
    <h2>Templates offered:</h2>
    <h3>Content Based Website:</h3>
    <p>
        During the Capstone project at Fairfield University we successfully developed a content based website for JUHAN (Jesuit Universities Humanitarian Action Network), the JUHAN Learning System. The website provides the three Jesuit institutions of higher education – Fairfield University, Georgetown University (GU) and Universidad Centroamericana (UCA) in Managua, Nicaragua with a platform to integrate civic and moral responsibility into the undergraduate curriculum. Please visit the website by clicking on the picture to view the many different features that can be available to our customers when they purchase the content based website.
    </p>
     <h3>E-commerce Website:</h3>
     <p>
         We also successfully developed the STARweb website (which you are currently viewing) for our own use. This E-Commerce website is a relatively simple model addressing our business needs. However, it can be enhanced with the features of the above content website which would accommodate our client’s specific business needs. 
     </p>
     <h3>Add on Features:</h3>
     <p>
         We also offer an add on feature website that provides the functionality of the E-commerce website along with different features like additional security, 2 advertisements, 200GB additional disk space, 25 additional pages, a discussion board/blog, newsletters and login features which has the ability to maintain and store 200 email.
     </p>
    <p>
        To better serve our customers, we are willing to offer more customized features upon the discretion of the client at an additional cost determined based on the request. 
    </p>
</div>
